.header {
  position: absolute;
  height: 85px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom: 1px solid var(--mantine-color-gray-2);

  @media (max-width: $mantine-breakpoint-md) {
    height: 65px;
  }
}

.logo {
  position: relative;
  width: 85px;
  height: 90%;

  @media (max-width: $mantine-breakpoint-sm) {
    width: 65px;
  }  
}

.link {
  text-transform: uppercase;
  padding: 16px;
  color: var(--mantine-color-gray-8);
  border-radius: 4px;
  font-weight: 700;
  @media (max-width: $mantine-breakpoint-sm) {
    padding: 10px;
  }  
  @mixin hover {
    background-color: var(--mantine-color-gray-0);
    text-decoration: none;    
    color: var(--mantine-color-orange-5);
  }
}
